<!doctype html>
<html class="no-js" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>BestStore后台管理系统  首页 - cssmoban</title>
  <meta name="description" content="这是一个 index 页面">
  <meta name="keywords" content="index">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <link rel="icon" type="image/png" href="../../static/assets/i/favicon.png">
  <link rel="apple-touch-icon-precomposed" href="../../static/assets/i/app-icon72x72@2x.png">
  <meta name="apple-mobile-web-app-title" content="Amaze UI" />
  <link rel="stylesheet" href="../../static/assets/css/amazeui.min.css"/>
  <link rel="stylesheet" href="../../static/assets/css/admin.css">
</head>
<body>
<!--[if lte IE 9]>
<p class="browsehappy">你正在使用<strong>过时</strong>的浏览器，Amaze UI 暂不支持。 请 <a href="http://browsehappy.com/" target="_blank">升级浏览器</a>
  以获得更好的体验！</p>
<![endif]-->

<header class="am-topbar admin-header">
  <div class="am-topbar-brand">
    <strong>Best Store</strong> <small>后台管理</small>
  </div>

  <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only" data-am-collapse="{target: '#topbar-collapse'}"><span class="am-sr-only">导航切换</span> <span class="am-icon-bars"></span></button>

  <div class="am-collapse am-topbar-collapse" id="topbar-collapse">

    <ul class="am-nav am-nav-pills am-topbar-nav am-topbar-right admin-header-list">
      <li class="am-dropdown" data-am-dropdown>
        <a class="am-dropdown-toggle" data-am-dropdown-toggle href="javascript:;">
          <span class="am-icon-users"></span> 管理员 <span class="am-icon-caret-down"></span>
        </a>
        <ul class="am-dropdown-content">
          <li><a href="toAdminUser.back"><span class="am-icon-user"></span> 资料</a></li>
          <li><a href="/logout"><span class="am-icon-power-off"></span> 退出</a></li>
        </ul>
      </li>
    </ul>
  </div>
</header>

<div class="am-cf admin-main">
  <!-- sidebar start -->
  <div class="admin-sidebar">
    <ul class="am-list admin-sidebar-list">
      <li><a href="toAdminIndex.back"><span class="am-icon-home"></span> 首页</a></li>
      <li class="admin-parent">
      </li>
      <li><a href="toAdminItems.back"><span class="am-icon-table"></span> 商品管理</a></li>
      <li><a href="toOrderForm.back"><span class="am-icon-pencil-square-o"></span> 订单管理</a></li>
      <li><a href="toAdminEmail.back"><span class="am-icon-envelope-o"></span> 邮件管理</a></li>
	  
      <li><a href="/logout"><span class="am-icon-sign-out"></span> 注销</a></li>
    </ul>

    <div class="am-panel am-panel-default admin-sidebar-panel">
      <div class="am-panel-bd">
        <p><span class="am-icon-bookmark"></span> 公告</p>
        <p>时光静好，与君语；细水流年，与君同。—— Amaze</p>
      </div>
    </div>

    <div class="am-panel am-panel-default admin-sidebar-panel">
      <div class="am-panel-bd">
        <p><span class="am-icon-tag"></span> wiki</p>
        <p>Welcome to the Amaze wiki!</p>
      </div>
    </div>
  </div>
  <!-- sidebar end -->

  <!-- content start -->
  <div class="admin-content">

    <div class="am-cf am-padding">
      <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">首页</strong></div>
    </div>

    <ul class="am-avg-sm-1 am-avg-md-4 am-margin am-padding am-text-center admin-content-list ">
      <li><a href="javascript:;" class="am-text-success"><span class="am-icon-btn am-icon-file-text"></span><br/>商品总数<br/>[[${ITEMS_COUNT}]]</a></li>
      <li><a href="javascript:;" class="am-text-warning"><span class="am-icon-btn am-icon-briefcase"></span><br/>成交订单<br/>[[${RECORDS_COUNT}]]</a></li>
      <li><a href="javascript:;" class="am-text-danger"><span class="am-icon-btn am-icon-recycle"></span><br/>邮件数量<br/>[[${EMAILS_COUNT}]]</a></li>
      <li><a href="javascript:;" class="am-text-secondary"><span class="am-icon-btn am-icon-user-md"></span><br/>注册用户<br/>[[${USERS_COUNT}]]</a></li>
    </ul>
  </div>
  <!-- content end -->
  
  <div class="admin-content">

    <div class="am-cf am-padding">
      <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">交易记录</strong> / <small>Table</small></div>
    </div>

    <div class="am-g">
      <div class="am-u-sm-12">
        <form class="am-form">
          <table class="am-table am-table-striped am-table-hover table-main">
            <thead>
              <tr>
				<th class="table-id">ID</th>
				<th class="table-title">Info</th>
				<th class="table-type">Time</th>
              </tr>
          </thead>
          <tbody>
            <tr th:each="record : ${ALL_RECORDS.getList()}">
              <td th:text="${recordStat.index+1}"></td>
              <td th:text="${record.itemInfo}"></td>
              <td th:text="${record.createTime}">default</td>
              <td>             
              </td>
            </tr>
          </tbody>
        </table>
          <div class="am-cf">
            <span>There are [[${ALL_RECORDS.getTotal()}]] pieces of data </span>
  <div class="am-fr">
    <ul class="am-pagination">
      <li><a th:href="@{'toAdminIndex.back?pageNum=' + ${ALL_RECORDS.getPageNum() - 1}}">LAST</a></li>
      <li th:each="index : ${ALL_RECORDS.getNavigatepageNums()}" th:class="${ALL_RECORDS.getPageNum() == index}? 'am-active' : ''" ><a th:href="@{'toAdminIndex.back?pageNum=' + ${index}}" th:text="${index}" >1</a></li>
      <li ><a th:href="@{'toAdminIndex.back?pageNum=' + ${ALL_RECORDS.getPageNum() + 1}}">NEXT</a></li>
    </ul>
  </div>
</div>
          <hr />
          <p>record：.....</p>
        </form>
      </div>

    </div>
  </div>
  <!-- content end -->
</div>

</div>


<!--[if lt IE 9]>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="../../static/assets/js/polyfill/rem.min.js"></script>
<script src="../../static/assets/js/polyfill/respond.min.js"></script>
<script src="../../static/assets/js/amazeui.legacy.js"></script>
<![endif]-->

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="../../static/assets/js/jquery.min.js"></script>
<script src="../../static/assets/js/amazeui.min.js"></script>
<!--<![endif]-->
<script src="../../static/assets/js/app.js"></script>
</body>
</html>
