<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Register</title>
    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content="Best Store Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design"/>
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>
    <!-- //for-mobile-apps -->
    <link href="../static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="../static/css/style.css" rel="stylesheet" type="text/css" media="all"/>
    <!-- js -->
    <script src="../static/js/jquery.min.js"></script>
    <!-- //js -->
    <!-- cart -->
    <script src="../static/js/simpleCart.min.js"></script>
    <!-- cart -->
    <link rel="stylesheet" type="text/css" href="../static/css/jquery-ui.css">
    <!-- for bootstrap working -->
    <script type="text/javascript" src="../static/js/bootstrap-3.1.1.min.js"></script>
    <!-- //for bootstrap working -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic'
          rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic'
          rel='stylesheet' type='text/css'>
    <!-- animation-effect -->
    <link href="../static/css/animate.min.css" rel="stylesheet">
    <script src="../static/js/wow.min.js"></script>
    <script>
        new WOW().init();
    </script>
    <!-- //animation-effect -->
</head>

<body>
<!-- header -->
<div class="header">
    <div class="container">
        <div class="header-grid">
            <div class="header-grid-left animated wow slideInLeft" data-wow-delay=".5s">
                <ul>
                    <li><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i><a
                            href="mailto:info@example.com">15927147398@qq.com</a></li>
                    <li><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i>+8615927147398</li>
                    <li><i class="glyphicon glyphicon-log-in" aria-hidden="true"></i><a href="/toLogin">Login</a></li>
                    <li><i class="glyphicon glyphicon-book" aria-hidden="true"></i><a href="/toRegister">Register</a>
                    </li>
                </ul>
            </div>
            <div class="header-grid-right animated wow slideInRight" data-wow-delay=".5s">
                <ul class="social-icons">
                    <li><a href="#" class="facebook"></a></li>
                    <li><a href="#" class="twitter"></a></li>
                    <li><a href="#" class="g"></a></li>
                    <li><a href="#" class="instagram"></a></li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="logo-nav">
            <div class="logo-nav-left animated wow zoomIn" data-wow-delay=".5s">
                <h1><a href="/toIndex">Best Store <span>Shop anywhere</span></a></h1>
            </div>
            <div class="logo-nav-left1">
                <nav class="navbar navbar-default">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header nav_2">
                        <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse"
                                data-target="#bs-megadropdown-tabs">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
                        <ul class="nav navbar-nav">
                            <li><a href="/toIndex">Home</a></li>
                            <!-- Mega Menu -->
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Products <b
                                        class="caret"></b></a>
                                <ul class="dropdown-menu multi-column columns-3">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <ul class="multi-column-dropdown">
                                                <h6>Men's Wear</h6>
                                                <li><a href="/toProducts?suitablePeople=men&type=jacket&pageNum=1">jacket</a>
                                                </li>
                                                <li><a href="/toProducts?suitablePeople=men&type=trousers&pageNum=1">trousers</a>
                                                </li>
                                                <li>
                                                    <a href="/toProducts?suitablePeople=men&type=shoe&pageNum=1">shoe</a>
                                                </li>
                                                <li><a href="/toProducts?suitablePeople=men&type=ornament&pageNum=1">ornament</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-4">
                                            <ul class="multi-column-dropdown">
                                                <h6>Women's Wear</h6>
                                                <li><a href="/toProducts?suitablePeople=women&type=jacket&pageNum=1">jacket</a>
                                                </li>
                                                <li><a href="/toProducts?suitablePeople=women&type=trousers&pageNum=1">trousers</a>
                                                </li>
                                                <li>
                                                    <a href="/toProducts?suitablePeople=women&type=shoe&pageNum=1">shoe</a>
                                                </li>
                                                <li><a href="/toProducts?suitablePeople=women&type=ornament&pageNum=1">ornament</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-4">
                                            <ul class="multi-column-dropdown">
                                                <h6>Kid's Wear</h6>
                                                <li><a href="/toProducts?suitablePeople=kid&type=jacket&pageNum=1">jacket</a>
                                                </li>
                                                <li><a href="/toProducts?suitablePeople=kid&type=trousers&pageNum=1">trousers</a>
                                                </li>
                                                <li>
                                                    <a href="/toProducts?suitablePeople=kid&type=shoe&pageNum=1">shoe</a>
                                                </li>
                                                <li><a href="/toProducts?suitablePeople=kid&type=ornament&pageNum=1">ornament</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <ul class="dropdown-menu multi-column columns-3">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <ul class="multi-column-dropdown">
                                                <h6>Home Collection</h6>
                                                <li><a href="/toFurniture">Cookware</a></li>
                                                <li><a href="/toFurniture">Sofas</a></li>
                                                <li><a href="/toFurniture">Dining Tables</a></li>
                                                <li><a href="/toFurniture">Shoe Racks</a></li>
                                                <li><a href="/toFurniture">Home Decor</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-4">
                                            <ul class="multi-column-dropdown">
                                                <h6>Office Collection</h6>
                                                <li><a href="/toFurniture">Carpets</a></li>
                                                <li><a href="/toFurniture">Tables</a></li>
                                                <li><a href="/toFurniture">Sofas</a></li>
                                                <li><a href="/toFurniture">Shoe Racks</a></li>
                                                <li><a href="/toFurniture">Sockets</a></li>
                                                <li><a href="/toFurniture">Electrical Machines</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-4">
                                            <ul class="multi-column-dropdown">
                                                <h6>Decorations</h6>
                                                <li><a href="/toFurniture">Toys</a></li>
                                                <li><a href="/toFurniture">Wall Clock</a></li>
                                                <li><a href="/toFurniture">Lighting</a></li>
                                                <li><a href="/toFurniture">Top Brands</a></li>
                                            </ul>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </ul>
                            </li>
                            <li><a href="/toShortCodes">Short Codes</a></li>
                            <li><a href="/toEmail">Mail Us</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
            <div class="logo-nav-right">
                <div class="search-box">
                    <div id="sb-search" class="sb-search">
                        <form>
                            <input class="sb-search-input" placeholder="Enter your search term..." type="search"
                                   id="search">
                            <input class="sb-search-submit" type="submit" value="">
                            <span class="sb-icon-search"> </span>
                        </form>
                    </div>
                </div>
                <!-- search-scripts -->
                <script src="../static/js/classie.js"></script>
                <script src="../static/js/uisearch.js"></script>
                <script>
                    new UISearch(document.getElementById('sb-search'));
                </script>
                <!-- //search-scripts -->
            </div>
            <div class="header-right">
                <div class="cart box_1">
                    <a th:href="@{/toCheckout}">
                        <h3>
                            <img src="../static/images/bag.png" alt=""/>
                            <div class="total">
                                <span>shopping cart</span>
                            </div>

                        </h3>
                    </a>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!-- //header -->
<!-- breadcrumbs -->
<div class="breadcrumbs">
    <div class="container">
        <ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
            <li><a href="/toIndex"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a></li>
            <li class="active">Register Page</li>
        </ol>
    </div>
</div>
<!-- //breadcrumbs -->
<!-- register -->
<div class="register">
    <div class="container">
        <h3 class="animated wow zoomIn" data-wow-delay=".5s">Register Here</h3>
        <p class="est animated wow zoomIn" data-wow-delay=".5s">Excepteur sint occaecat cupidatat non proident, sunt in
            culpa qui officia
            deserunt mollit anim id est laborum.</p>
        <div class="login-form-grids">
            <form data-wow-delay=".5s" id="register-form">

                <input type="text" name="nickname" placeholder="Nickname" id="nickname"><br>

                <div style="margin-bottom: 35px;display:block" id="number" class="datetimepicker">
                    <input type="text" name="phone" placeholder="phone" id="phone" style="width: 65%;display:inline">

                    <input type="button" value="get code" id="button" style="width: 30%;outline: none; border: none;padding: 10px 0;font-size: 1em;color: #fff;
                      margin: 1.5em 0 0;background:#FFC229;display: inline ;margin-left:10px"
                           onclick="settime(this);e()"/>
                </div>
                <input type="email" placeholder="email" name="email" id="email"><br>

                <input type="password" name="password" id="password" placeholder="password">

                <input type="password" placeholder="repet password" name="confirm_password" id="confirm_password">

                <input type="button" value="Register" id="submit" style="outline: none; border: none;padding: 10px 0;font-size: 1em;color: #fff;
                        display: block;width: 100%;background:#FFC229;margin: 1.5em 0 0;">
            </form>
        </div>
        <div class="register-home animated wow slideInUp" data-wow-delay=".5s">
            <a href="/toIndex">Home</a>
        </div>
    </div>
</div>
<!-- //register -->
<!-- footer -->
<div class="footer">
    <div class="container">
        <div class="footer-grids">
            <div class="col-md-3 footer-grid animated wow slideInLeft" data-wow-delay=".5s">
                <h3>About Us</h3>
                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse.<span>Excepteur sint occaecat cupidatat
						non proident, sunt in culpa qui officia deserunt mollit.</span></p>
            </div>
            <div class="col-md-3 footer-grid animated wow slideInLeft" data-wow-delay=".6s">
                <h3>Contact Info</h3>
                <ul>
                    <li><i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i>1234k Avenue, 4th block, <span>New York City.</span>
                    </li>
                    <li><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i><a
                            href="mailto:info@example.com">info@example.com</a></li>
                    <li><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i>+1234 567 567</li>
                </ul>
            </div>
            <div class="col-md-3 footer-grid animated wow slideInLeft" data-wow-delay=".7s">
                <h3>Flickr Posts</h3>
                <div class="footer-grid-left">
                    <a href="javascript:"><img src="../static/images/13.jpg" alt=" " class="img-responsive"/></a>
                </div>
                <div class="footer-grid-left">
                    <a href="javascript:"><img src="../static/images/14.jpg" alt=" " class="img-responsive"/></a>
                </div>
                <div class="footer-grid-left">
                    <a href="javascript:"><img src="../static/images/15.jpg" alt=" " class="img-responsive"/></a>
                </div>
                <div class="footer-grid-left">
                    <a href="javascript:"><img src="../static/images/16.jpg" alt=" " class="img-responsive"/></a>
                </div>
                <div class="footer-grid-left">
                    <a href="javascript:"><img src="../static/images/13.jpg" alt=" " class="img-responsive"/></a>
                </div>
                <div class="footer-grid-left">
                    <a href="javascript:"><img src="../static/images/14.jpg" alt=" " class="img-responsive"/></a>
                </div>
                <div class="footer-grid-left">
                    <a href="javascript:"><img src="../static/images/15.jpg" alt=" " class="img-responsive"/></a>
                </div>
                <div class="footer-grid-left">
                    <a href="javascript:"><img src="../static/images/16.jpg" alt=" " class="img-responsive"/></a>
                </div>
                <div class="footer-grid-left">
                    <a href="javascript:"><img src="../static/images/13.jpg" alt=" " class="img-responsive"/></a>
                </div>
                <div class="footer-grid-left">
                    <a href="javascript:"><img src="../static/images/14.jpg" alt=" " class="img-responsive"/></a>
                </div>
                <div class="footer-grid-left">
                    <a href="javascript:"><img src="../static/images/15.jpg" alt=" " class="img-responsive"/></a>
                </div>
                <div class="footer-grid-left">
                    <a href="javascript:"><img src="../static/images/16.jpg" alt=" " class="img-responsive"/></a>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="col-md-3 footer-grid animated wow slideInLeft" data-wow-delay=".8s">
                <h3>Blog Posts</h3>
                <div class="footer-grid-sub-grids">
                    <div class="footer-grid-sub-grid-left">
                        <a href="javascript:"><img src="../static/images/9.jpg" alt=" " class="img-responsive"/></a>
                    </div>
                    <div class="footer-grid-sub-grid-right">
                        <h4><a href="javascript:">culpa qui officia deserunt</a></h4>
                        <p>Posted On 25/3/2016</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="footer-grid-sub-grids">
                    <div class="footer-grid-sub-grid-left">
                        <a href="javascript:"><img src="../static/images/10.jpg" alt=" " class="img-responsive"/></a>
                    </div>
                    <div class="footer-grid-sub-grid-right">
                        <h4><a href="javascript:">Quis autem vel eum iure</a></h4>
                        <p>Posted On 25/3/2016</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="footer-logo animated wow slideInUp" data-wow-delay=".5s">
            <h2><a href="/toIndex">Best Store <span>shop anywhere</span></a></h2>
        </div>
        <div class="copy-right animated wow slideInUp" data-wow-delay=".5s">
        </div>
    </div>
</div>
<!-- //footer -->
<script src="http://static.runoob.com/assets/jquery-validation-1.14.0/lib/jquery.js"></script>
<script src="http://static.runoob.com/assets/jquery-validation-1.14.0/dist/jquery.validate.min.js"></script>
<!--引入弹窗-->
<link href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
<script>
    // 字母和数字的验证
    jQuery.validator.addMethod("chrnum", function (value, element) {
        var chrnum = /^[a-zA-Z]\w{5,16}$/;
        return this.optional(element) || (chrnum.test(value));
    }, "Enter only Numbers and letters (characters a-z, a-z, 0-9)");
    //手机号验证
    jQuery.validator.addMethod("isMobile", function (value, element) {
        var mobile = /^(((13[0-9]{1})|(14[0-9]{1})|(17[0]{1})|(15[0-3]{1})|(15[5-9]{1})|(18[0-9]{1}))+\d{8})$/;
        return this.optional(element) || (mobile.test(value));
    }, "please enter the correct phone number");

    $().ready(function () {
// 在键盘按下并释放及提交后验证提交表单
        $("#register-form").validate({
            errorPlacement: function (error, element) {
                if ($(element).parent().hasClass('datetimepicker')) {
                    error.insertAfter(element.parent());
                } else {
                    error.insertAfter(element);
                }
            },
            rules: {
                nickname: {
                    required: true,
                    minlength: 5,
                    maxlength: 16,
                    chrnum: true
                },
                password: {
                    required: true,
                    minlength: 5,
                    maxlength: 16,
                    chrnum: true
                },
                confirm_password: {
                    required: true,
                    minlength: 5,
                    equalTo: "#password",
                    maxlength: 16,
                    chrnum: true
                },
                email: {
                    required: true,
                    email: true,
                    remote: {
                        url: "/verityEmail",//后台查询验证的方法
                        data: {
                            email: function () {
                                return $("input[name='email']").val();
                            }
                        },//携带的参数
                        type: "post",
                        dataType: "json"
                    }
                },
                phone: {
                    required: true,
                    isMobile: true,
                    remote: {
                        url: "/verityPhone",//后台查询验证的方法
                        data: {
                            phone: function () {
                                return $("input[name='phone']").val();
                            }
                        },//携带的参数
                        type: "post",
                        dataType: "json"
                    }
                }
            },
            messages: {
                nickname: {
                    minlength: "nickname length cannot be less than 5 letters",
                    maxlength: "nickname should not be longer than 10 letters",
                    chrnum: "Enter only Numbers and letters (characters a-z, a-z, 0-9)"
                },
                password: {
                    minlength: "password length cannot be less than 5 letters",
                    maxlength: "passwords should not be longer than 16 letters",
                    chrnum: "Enter only Numbers and letters (characters a-z, a-z, 0-9)"
                },
                confirm_password: {
                    minlength: "password length cannot be less than 5 letters",
                    maxlength: "passwords should not be longer than 16 letters",
                    equalTo: "the passwords must be the same twice",
                    chrnum: "Enter only Numbers and letters (characters a-z, a-z, 0-9)"
                },
                email: {
                    email: "please enter the correct email address",
                    remote: "email has been registered"
                },
                phone: {
                    isMobile: "please enter the correct phone number",
                    remote: "phone number has been registered"
                }
            }
        });
    });
    var button=false;
    $("#submit").click(function () {
        var nickname = $("#nickname").val();
        var phone = $("#phone").val();
        var email = $("#email").val();
        var password = $("#password").val();
        var confirm_password=$("#confirm_password").val();
        if (nickname == null || nickname == "" || nickname == "undefined" || phone == null || phone == "" || phone == "undefined"
            || email == null || email == "" || email == "undefined" ||!button||
            password == null || password == "" || password == "undefined"||confirm_password==null||confirm_password==""||confirm_password=="undefined") {
            alert("我进了")
            swal('registered failed！', '', 'error');
        } else {
            $.ajax({
                url: "/register",
                data: {
                    phone: phone,
                    nickname: nickname,
                    email: email,
                    password: password
                },
                dataType: "json",
                type: "post",
                success: function (res) {
                    if (res) {
                        swal({
                            title: "registered success ！",
                            type: "success",
                            confirmButtonText: "ok",
                            closeOnConfirm: false
                        });
                        setTimeout("window.location.href='/toLogin'", 1000);
                    } else {
                        swal({
                            title: "registered failed ！",
                            type: "error",
                            confirmButtonText: "ok",
                            closeOnConfirm: false
                        });
                    }
                },
                error: function () {
                    swal({
                        title: "registered failed ！",
                        type: "error",
                        confirmButtonText: "ok",
                        closeOnConfirm: false
                    });
                }
            })
        }
    });

    var countdown = 60;

    function settime(val) {
        if (countdown == 0) {
            val.removeAttribute("disabled");
            val.value = "get code";
            countdown = 60;
            return false;
        } else {
            val.setAttribute("disabled", true);
            val.value = "resend(" + countdown + ")";
            countdown--;
        }
        setTimeout(function () {
            settime(val);
        }, 1000);
    }

    function e() {
        var phone = $("#phone").val();
        var pattern = /^(((13[0-9]{1})|(14[0-9]{1})|(17[0]{1})|(15[0-3]{1})|(15[5-9]{1})|(18[0-9]{1}))+\d{8})$/;
        if (!pattern.test(phone) || phone.length != 11 || phone == "" || phone == null || phone == 'undefined') {
            swal({
                title: "Please enter the correct phone number first ！",
                type: "error",
                confirmButtonText: "ok",
                closeOnConfirm: false
            });
        } else {
            $.ajax({
                    url: "/button", data: {phone: phone}, success: function (msg) {
                        if (msg) {
                            swal({
                                title: "code",
                                text: "Please enter the verification code：",
                                type: "input",
                                showCancelButton: true,//是否显示取消按钮
                                cancelButtonText: 'cancel',//按钮内容
                                cancelButtonColor: '#b9b9b9',
                                showConfirmButton: true,
                                confirmButtonText: 'confirm',
                                confirmButtonColor: "#dd6b55",
                                closeOnConfirm: false,//点击返回上一步操作
                                closeOnCancel: true,
                                inputPlaceholder: "code",
                                showLoaderOnConfirm: true
                            }, function (inputValue) {//正确按钮进行的操作点
                                if (inputValue == '') {
                                    swal.showInputError('please enter...');
                                } else {
                                    $.ajax({
                                        url: '/isRight',
                                        type: 'post',
                                        dataType: 'json',
                                        data: {
                                            "number": inputValue
                                        }
                                    })
                                        .done(function (res) {
                                            if (res) {
                                                button=true;
                                                swal('Validation successful, proceed', 'success');
                                            } else {
                                                swal('verification failed', '', 'error');
                                            }
                                        })
                                        .fail(function () {//连接服务器失败进行的操作
                                            console.log("error");
                                        })
                                }
                            })
                        } else {
                            swal('Failed to send verification code！', '', 'error');
                        }
                    },
                    error: function () {
                        swal('Failed to send verification code！', '', 'error');
                    }
                }
            )
        }
    }
</script>
<style>
    #on {
        background-color: #eee;
        color: #ccc;
        cursor: not-allowed;
    }

    .error {
        color: red;
    }
</style>

</body>
</html>